<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
        <h2>Welcome, {{ club.email }} </h2><a href="{{url_for('logout')}}">Logout</a>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
       {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
       </ul>
    {% endif %}
    Points available: {{club.points }}
    <h3>Competitions:</h3>
    <ul>
        {% for competition in competitions %}
        <li>
            {{ competition.name }}<br />
            Date: {{ competition.date }}</br>
            Number of Places: {{ competition.numberOfPlaces }}
            {% if competition.numberOfPlaces | int >0 %}
                {% if club %}
                    <a href="{{ url_for('book',competition=competition.name, club=club.name) }}">Book Places</a>
                {% else %}
                <a href="{{ url_for('index') }}">booking not possible</a>
            {% endif %}

            {% endif %}
        </li>
        <hr />
        {% endfor %}
    </ul>
    {% endwith %}

</body>
</html>